@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

/* Shared style */
.inter {
    font-family: "Inter", sans-serif;
}

/* *{
    height: 0;
    width: 0;
} */

/* Header styles */
.header-container {
    background: linear-gradient(180deg,
            rgb(17, 17, 17) 0%,
            rgba(17, 17, 17, 0.8) 50%,
            rgb(17, 17, 17) 100%);
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.nav-container {
    width: 77%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container h2 {
    color: rgb(230, 83, 60);
    font-family: Inter;
    font-size: 2rem;
    font-weight: 800;
}

.nav-container ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.nav-container a {
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 400;
    text-decoration: none;
}

.home {
    border-radius: 46px;
    background: rgb(230, 83, 60);
    line-height: 22px;
    padding: 8px 20px;
}

.banner {
    margin: 0 auto;
    width: 77%;
    display: flex;
    justify-content: space-between;
}

.banner-description {
    width: 593px;
    height: 440px;
    margin-top: 100px;
}

.banner-description h1 {
    color: rgb(255, 255, 255);
    font-size: 4.7rem;
    font-weight: 900;
    margin: 0;
}

.banner-description p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.btn-1 {
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
}

.btn-2 {
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    padding: 16px 40px;
    color: rgb(255, 255, 255);
    font-size: 1.25rem;
    font-weight: 600;
    background-color: transparent;
}

.shape {
    font-family: "Dancing Script", cursive;
}

.header-card-1 {
    width: 206px;
    height: 96px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 5%;
    left: 53%;
}

.header-card-2 {
    width: 193px;
    height: 98px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    padding-left: 20px;
    position: absolute;
    bottom: 45%;
    right: 6%;
}

.header-card-1 h3, p{
    margin: 10px 0;
}

.circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(230, 83, 60);
    margin-right: 20px;
}